<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="color: white" class="navbar-brand" routerLink="/">
    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
  </a>

    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0"
          [formGroup]="searchForm"
          *ngIf="countries">
      <span class="nav-item" *ngIf="!homeService.home" (click)="onLoadCountry('prev')">
        <a class="arrow">
          <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
        </a>
      </span>
      <input  formControlName="country"
              (input)="onInput()"
              autofocus
              class="form-control short"
              type="text"
              [placeholder]=placeholder
              aria-label="Search"
              [typeahead]="countries"
              [typeaheadOptionField]="'countryName'"
              [typeaheadGroupField]="'continentName'">
      <span class="nav-item" *ngIf="!homeService.home" (click)="onLoadCountry('next')">
        <a class="arrow">
          <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
        </a>
      </span>
    </form>
</nav>
